WINDLAYA_HOST=127.0.0.1
WINDLAYA_PORT=8000
WINDLAYA_DEVICE=auto
WINDLAYA_PRELOAD_MODELS=multilingual
WINDLAYA_MAX_LOADED=2
WINDLAYA_DEFAULT_MODEL=english
WINDLAYA_MODEL_SOURCE=modelscope
WINDLAYA_MODEL_FALLBACK_SOURCE=huggingface
WINDLAYA_MODEL_ROOT=models
WINDLAYA_HF_TOKEN=
WINDLAYA_MS_TOKEN=
WINDLAYA_LOG_LEVEL=INFO
WINDLAYA_RUN_MODEL_TESTS=false
WINDLAYA_SERIALIZE_INFERENCE=true
WINDLAYA_API_BASE_URL=http://127.0.0.1:8000
